.user-post-list {
  margin: 35px 0px 0px 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.add-post {
  bottom: 11px;
  width: 78%;
  left: 59%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.post-bar {
  width: 97%;
  border: transparent;
  padding: 10px 32px;
  border-radius: 20px;
  font-size: 21px;
}
.post-bar:focus {
  outline: none;
}
.css-i4bv87-MuiSvgIcon-root {
  width: 55px !important;
  height: 41px !important;
}
.subBtn {
  background: transparent;
  border: transparent;
}
.subBtn:focus {
  outline: none;
}
.edit-bar {
  width: 100%;
}
.edit-bar:focus {
  outline: none;
}
